//- events.jade
extends ./layout.jade

block content
  main(class='main-content')
    .event-page
      h2 Events
      h3 Upcoming Events:
      br
      p None currently announced
      h3 Previous Events:
      br
      h3 2015: Time for a Climate Coalition?
      p
        |When: 6:30pm 19th February 2015
        |Where: Physics Lecture 3, Blackett Building, South Kensington Campus, Imperial College
        |How Much: Free!
        |We are proud to welcome Tom Burke (pictured left) to speak on the future directions of climate change policy and sustainability.
        |Tom has exceptional experience in the field. He is the Chairman of <a href='http://www.e3g.org/'> E3G, Third Generation Environmentalism</a>, and an Environmental Policy Adviser to <a href='http://www.riotinto.com/'> Rio Tinto plc </a>. He is also a Visiting Professor at both Imperial and UCL. He is a member of the External Review Committee of Shell and the Sustainable Sourcing Advisory Board of Unilever. He has advised the government over many years on issues of environmental and sustainability policy.
        |The talk will be followed by a time for questions from the audience and will draw to a formal close at 7:30 at which point light refreshments will be provided.
      br
      h3 Alcohol Policy: Paper Presentation to Expert Panel
      p
        |When: 27th November 2014, 7:30pm
        |Where Imperial College, South Kensington
        |How Much: Free!
        |Speakers include Professor Alan Maryon Davis, chair of Alcohol Research UK, and Henry Ashworth CEO of the Portman Group, the alcohol social responsibility group funded by alcohol producers.
      p <a href='http://www.lfsp.org.uk/write-policy-paper/'> Talk: How to write a policy paper</a>
      br
      h3 LFSP Freshers' Workshop: Scientists, politics and how thinking in tanks can help
      p
        |When: 6:00pm 16th October 2014
        |Where: Room 1004, Blackett Building, South Kensington Campus, Imperial College
        |How Much: Free!
        |With Dr. Jason Blackstock, Senior Lecturer in Science and Global Affairs
        |An active and engaging workshop focusing on the role of science in public policy, how scientists can get involved and where LFSP fits in.
        |Dr. Blackstock has worked across the globe at the junction between science and public policy and now leads the UCL Department for Science, Technology, Engineering and Public Policy.
        |The workshop will begin promptly at 6:00pm so come a bit beforehand. It will run until 7:30 after which drinks and light refreshments will be provided.
      br
      h3 LFSP Workshop: Scientists, Politics and how thinking in tanks can help
      p
        |When: 6pm-8pm 28th January 2014
        |Where: South Kensington Campus, Roderic Hill Building, Aero Level 2, Lecture Theatre 266
        |How Much: Free!
        |There’s no experience of politics necessary at all and it’ll be a friendly introductory session to explain what a think tank is, how it works and what we do.
        |It’s an active session and we’ll equip you with the tools you need to get involved in politics and start bringing your scientific expertise to the world of government.
        |If you enjoy it then you can get involved in our first author groups working on the policy issues you’re interested in.

    