//- contact.jade
extends ./layout.jade

block content
  main(class='main-content')
    h2 Contact
    .contact-page
      p.boxed.
        Please don’t hesitate to get in touch. You can either use this form, or email a committee member individually. You can find their email addresses <a href='../committee.html'>here</a>.
      iframe(src="http://www.vcita.com/widgets/contact_form/d8740f232b0f9c8d?ver=2", vertical-align="middle", width="500", height="450", scrolling="no", frameborder="0", style=" ").column