//- events.jade
extends ./layout.jade

block content
  main(class='main-content')
    .event-page
      h2 Events
      h3 Upcoming Events:
      br
      p None currently announced
      br
      br
      iframe(src="../calendar.html" style=" border-width:0 " width="800" height="500" frameborder="0" scrolling="no")