//- events.jade
extends ./layout.jade

block content
  main(class='main-content')
    .event-page
      h2 Events
      h3 Upcoming Events:
      br
      h4 Policy Paper Launch - Improving the Visibility of Women in STEM
      p Our first policy launch of the 2015-16 year, this paper aims to look at methods of celebrating women as a way of changing a culture that promotes an unconscious gender bias. We'll formally present the findings of our Policy Team and open it up to your advice and scrutiny. We'll be joined by speakers and contributors who will offer their insight and their experience to our proceedings.
      h4 When and Where:
      p Thursday 19 November 2015 18:30 - 20:30
      p Pippard Lecture Theatre, Sherfield Building
      h4 Speakers:
      p <b>Jessica Wade</b>
      p A PhD student in Physics and Chair of Women in Physics, a group within the Institute of Physics encouraging participation of women in physics and supporting the professional development of academic women.
      p <b>Lucinda Sandon-Allum</b>
      p Our very own Union President, who as part of her Sabbatical Plan has taken on a campaign within the area of improving the participation of women in STEM, including inviting the UN HeForShe campaign to the South Kensington campus and speaking at a number of events, including this one.
      p <b>Professor Joanna Haigh</b>
      p Current co-director of the Grantham Institute for Climate Change and the Environment at Imperial College London, Joanna is a fellow of both the Institute of Physics and the Royal Society, and has had a distinguished career in atmospheric physics and climate modelling.
      p Areas covered include:
      ul
        li How much women are represented in university PR work
        li Whether women get special PR training
        li Whether they should and how they are represented visually e.g. in portraits on campuses and how could this be improved.
      p The paper also looks at how to encourage women studying STEM to continue in STEM careers, the representation of women on university boards, raising profile of schemes that reward high representation of women in universities (e.g. The Athena Swan award), and how such awards might be incorporated into national rankings.
      p <b>The event will be followed by networking, allowing those challenged and inspired to carry on the discussion.</b>
      br
      br
      iframe(src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=500&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=londonforumsp%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="800" height="500" frameborder="0" scrolling="no")