//- get-involved.jade
extends ./layout.jade

block content
  main(class='main-content')

    h2 Get Involved

    .first
      .central
        h3 <span>1</span> Sign Up to Our Mailing List
        p Get updates about our workshops, talks and upcoming policy opportunities
        .sign-up#get-involved
          +sign-up
        
    .second
      .central
        h3 <span>2</span> Like us on Facebook
        p Find out about our events &amp; what’s going on in science policy!
        iframe(src="https://facebook.com/plugins/like.php?href=https://www.facebook.com/thelondonforumforscienceandpolicy&amp;width=200&amp; layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21&amp;appId=I85571214847709" scrolling="no" frameborder="0" style="bordernone; overflow:hidden; width200px; height21px;" alLowTransparency="true")

    .third
      .central
        h3 <span>3</span> Come to our talks &amp; workshops
        p Check out our <a href='./events.html'>events</a> coming up

    .fourth
      .central
        h3 <span>4</span> Get involved in our policy work
        p If you’re interested in writing a brief response (1 page) or working on a full policy report, then just get in touch with <a href='mailto:director_for_policy@lfsp.org.uk'>Bradley Lonergan</a>, our Director for Policy to find out more.
