//- get-involved.jade
extends ./layout.jade

block content
  main(class='main-content')

    h2 Get Involved

    .first
      .central
        h3 <span>1</span> Sign Up to Our Mailing List
        p Get updates about our workshops, talks and upcoming policy opportunities
        .sign-up#get-involved
          +sign-up
        
    .second
      .central
        h3 <span>2</span> Like us on Facebook
        iframe(src="https://www.facebook.com/thelondonforumforscienceandpolicy/" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:450px; height:px;")
        p Find out about our events &amp; what’s going on in science policy!

    .third
      .central
        h3 <span>3</span> Come to our talks &amp; workshops
        p Check out our <a href='./events.html'>events</a> coming up

    .fourth
      .central
        h3 <span>4</span> Get involved in our policy work
        p If you’re interested in writing a brief response (1 page) or working on a full policy report, then just get in touch with XX, our Director for Policy to find out more.
