//- index.jade
extends ./layout.jade

block content
  main(class="main-content")
    .fixed-bg.bg-1
      .intro

    .scrolling-bg.color-1
      h2 The London Forum for Science and Policy
      h3 A student-led think tank helping scientists engage with public policy.

    .fixed-bg.bg-2
      .intro 

    .scrolling-bg.color-2
      .container
        h2 What We Do
        .row
          .four.columns
            .slider-nav
              .slider-list
                ul
                  li#who.dot.active What is LFSP?
                  li#analyse.dot What do we do?
                  li#recommend.dot Our policy work
                  li#monthly.dot LFSP's perspective

          .eight.columns(style='margin-left:0;')
            .slider
              p#who-text.dot.active.
                We’re a student-led think tank focused on science policy – our aim is to get young scientists thinking about public policy, generating solutions for the issues they’re passionate about. 
              p#at.dot.
                To help scientists get involved with policy we hold workshops to develop skills and talks to hear from experts at the cutting edge of science policy. Most excitingly, we facilitate groups of scientists getting together to produce and publish policy recommendations for discussion at open panel events. 
              p#rec.dot
                |We support scientists to use their expertise to analyse policy – looking at the issues they care about from alcohol education to air pollution to the ‘leaky pipeline’.
                br
                br
                |Studying the problems isn’t the end of the process – our authors recommend innovative solutions and have the opportunity to present them to a panel of experts and policymakers to discuss their policy ideas.
                br
                br
                |Once we’ve published a policy paper we set about distributing it to those with the power to make a change. 
              p#mo.dot.
                LFSP is entirely non-partisan, all political values come from the authors themselves. Our role is to facilitate the process of writing and presenting policy recommendations, supporting our authors along the way. We don’t have the resources of fully funded think tanks, but by focusing on the big picture our authors can create innovative policy solutions, informed by their skills &amp; understanding of scientific research. 

        .sign-up
          h3 Join Our Mailing List!
          +sign-up


    .bottom-nav
      .footer
        ul.nav-bot
          li
            a(href="../get_involved.html")
              img(src='../img/LFSPTransLogo.png')
              h4 Get Involved
          li
            a(href='../events.html')
              img(src='../img/LFSPTransLogo.png')
              h4 What's On
          li
            a(href='../policy.html')
              img(src='../img/LFSPTransLogo.png')
              h4 What We've Done
          li
            a(href='../committee.html')
              img(src='../img/LFSPTransLogo.png')
              h4 The Committee
