//-  policy.jade
extends ./layout.jade

block content
  main(class='main-content')
    h2 Policy
    .policy-heading
      h3 Intoxicated Youth: Can Education Fix Britain's Youth Drinking Problem?
    .policy-section
      img(src='../img/alcohol-policy.png').three.columns
      p.nine.columns.
        While rates of alcohol consumption among young people have shown an encouraging decline in recent years, underage drinking within the UK remains among the worst in Europe. On top of this, actual drinking practices show a hazardous trend towards more extreme behaviours like binge drinking. This paper examines how different settings and kinds of education can influence these problems. Based on this analysis, recommendations for future policy are presented. <a href='http://www.lfsp.org.uk/wp-content/uploads/2014/11/Policy-Paper-Alcohol-Education.pdf'> Read the full paper (PDF)</a>.
