//-  policy.jade
extends ./layout.jade

block content
  main.main-content
    .policy-page  
      h2 Policies
      .policies
        .centered.cf
          .ul.policy-list
            li.one
              .policy
                a(class='post-link', href='http://www.lfsp.org.uk/Policy-Paper-Alcohol-Education.pdf')
                  .top-inner
                    h3 Policy Paper
                  .policy-image#one
                  .inner
                    h3 Intoxicated Youth: Can Education Fix Britain's Youth Drinking Problem?
                    p.
                      Looking at schools, universities, families and primary care, the authors explore how much education can do to change how young people drink alcohol. 
            li.two
              .policy
                a(class='post-link', href='http://www.lfsp.org.uk/Cleaning-The-Air.pdf')
                  .top-inner
                    h3 Policy Paper
                  .policy-image#two
                  .inner
                    h3 Cleaning The Air: How to Solve UK Breaches of EU Air Quality Laws
                    p Exploring various policy solutions to the problem of urban air pollution in the United Kingdom, focusing on incentivising cycling, electrification of private and public transport, and ecological solutions such as urban greening.

            //-li.three
              .policy
                a(class='post-link', href='#')
                  .top-inner
                    h3 Other Type
                  .policy-image#three
                  .inner
                    h3 Other Policy
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
