//-  policy.jade
extends ./layout.jade

block content
  main.main-content
    .policy-page  
      h2 Policies
      .policies
        .centered.cf
          .ul.policy-list
            li.one
              .policy
                a(class='post-link', href='http://www.lfsp.org.uk/Policy-Paper-Alcohol-Education.pdf')
                  .top-inner
                    h3 Policy Paper
                    .policy-image#one
                  .inner
                    h3 Intoxicated Youth: Can Education Fix Britain's Youth Drinking Problem?
                    p Looking at schools, universities, families and primary care, the authors explore how much education can do to change how young people drink alcohol.
            li.two
              .policy
                a(class='post-link', href='http://www.lfsp.org.uk/Cleaning-The-Air.pdf')
                  .top-inner
                    h3 Policy Paper
                  .policy-image#two
                  .inner
                    h3 Cleaning The Air: How to Solve UK Breaches of EU Air Quality Laws
                    p Exploring various policy solutions to the problem of urban air pollution in the United Kingdom, focusing on incentivising cycling, electrification of private and public transport, and ecological solutions such as urban greening.
            li.three
              .policy
                a(class='post-link', href='http://www.lfsp.org.uk/Youth-Drinking.pdf')
                  .top-inner
                    h3 Policy Paper
                  .policy-image#three
                  .inner
                    h3 Investing in the future: Can education help fix underage drinking in Europe?
                    p Exploring existing alcohol education programmes, school-based and family-based, and synthesising what elements make up a successful alcohol education programme.