//-  policy.jade
extends ./layout.jade

block content
  main.main-content
    .policy-page  
      h2 Policies
      .policies
        .centered.cf
          .ul.policy-list
            li.one
              .policy
                a(class='post-link', href='http://www.lfsp.org.uk/wp-content/uploads/2014/11/Policy-Paper-Alcohol-Education.pdf')
                  .top-inner
                    h3 Policy Paper
                  .policy-image#one
                  .inner
                    h3 Intoxicated Youth: Can Education Fix Britain's Youth Drinking Problem?
                    p.
                      Looking at schools, universities, families and primary care, the authors explore how much education can do to change how young people drink alcohol. 
            li.two
              .policy
                a(class='post-link', href='#')
                  .top-inner
                    h3 Other Type
                  .policy-image#two
                  .inner
                    h3 Other Policy
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

            li.three
              .policy
                a(class='post-link', href='#')
                  .top-inner
                    h3 Other Type
                  .policy-image#three
                  .inner
                    h3 Other Policy
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

